html {
  background: rgb(49, 49, 49);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

#defaultCanvas0.p5Canvas {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  position: fixed;
  object-fit: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
p {
  margin: 0;
}
